.button {
	font-size: 13px !important;
	text-transform: none !important;
	color: #000 !important;
	width: 150px !important;
	font-weight: 800 !important;
	transition: all 0.5s;
}

.button:hover {
	background-color: #ffdf86 !important;
}
