.container {
	scroll-margin-top: 5.2rem;
	background-color: #3f3f3f;

	padding-inline: 5vw;
	padding-block: 50px;
}

.secondaryContainer > h2 {
	font-weight: 600;
	font-size: 2.125rem;
	line-height: 159.84%;
	/* or 54px */

	letter-spacing: -0.0041em;

	color: #ffffff;
	margin-bottom: 10px;

	margin-top: 0;
	scroll-margin-top: 5.2rem;
}

.titleLine {
	width: 200px;
	max-width: 100%;
	height: 1px;
	background-color: #fff;
	margin-top: 4px;
	/* margin-bottom: 34px; */
}

.contentContainer {
	display: flex;
	flex-direction: column;
	gap: 40px;
	padding-block: 52px;
}

.innerContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 30px;
}

.card {
	transition: all 0.5s;
	max-width: 100%;
	background-color: #f3f3f3;
	padding: 30px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	gap: 16px;
	color: #000000;
	flex-wrap: wrap;
}

.card:hover {
	background-color: #666666;
	cursor: pointer;
	color: #fff;
}

.cardContent {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	gap: 19px;
}

.cardContent > h5 {
	font-weight: 500;
	font-size: 24px;
	line-height: 44px;
	/* identical to box height */

	letter-spacing: -0.0041em;

	margin: 0;
}

@media (max-width: 1200px) {
	.contentContainer {
		padding-block: 50px;
	}
	.cardContent > h5 {
		font-size: 1.5rem;
		margin-bottom: 10px;
	}
	.card {
		width: 100%;
		justify-content: center;
	}
	.secondaryContainer > h2 {
		text-align: center;
	}
}

@media (max-width: 900px) {
	.secondaryContainer {
		text-align: center;
		font-size: 2rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}
